@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --stronger-cyan: hsl(174, 86%, 25%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --lighter-grayish-blue: hsl(224, 65%, 95%);
  --light-grayish-blue: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

body {
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  background-color: var(--very-pale-blue);
  color: var(--grayish-blue);
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 70px 30px 300px;
  border-bottom-left-radius: 200px;
  background-image: url(images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center 40px;
}

header h1 {
  color: var(--dark-desaturated-blue);
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.wrapper {
  background-color: var(--white);
  margin: 1rem;
  border-radius: 15px;
  margin-top: -140px;
}

.top-content,
.footer {
  padding: 50px;
}

.packages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.packages .page-view p {
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  color: var(--dark-desaturated-blue);
  font-size: 2.2rem;
  font-weight: bold;
}

.price p.period {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 5px;
  color: var(--grayish-blue);
}

input#price-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  background: linear-gradient(
    to right,
    var(--soft-cyan) 0%,
    var(--soft-cyan) 50%,
    var(--light-grayish-blue) 0%,
    var(--light-grayish-blue) 100%
  );
  border-radius: 5px;
}

input#price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--strong-cyan);
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 7px 10px 4px var(--soft-cyan);
}

input#price-slider::-webkit-slider-thumb:hover {
  background-color: var(--stronger-cyan);
}

.billing {
  text-align: center;
  margin-top: 50px;
}

.billing p {
  display: inline-block;
  padding: 0 7px;
}

.billing p.discount {
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  font-size: 0.7rem;
  border-radius: 10px;
}

.switch input {
  opacity: 0;
}

.switch {
  display: inline-block;
  width: 45px;
  height: 20px;
  position: relative;
}

.toggle-slider {
  position: absolute;
  background-color: var(--light-grayish-blue);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.toggle-slider:hover {
  background-color: var(--strong-cyan);
  cursor: pointer;
}

.toggle-slider:before {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  transition: all 0.4s ease-in-out;
}

.switch input:checked + .toggle-slider:before {
  transform: translateX(25px);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: var(--pale-blue);
  background-color: var(--dark-desaturated-blue);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
}

.footer a:hover {
  color: var(--white);
}

.footer li {
  margin-bottom: 7px;
}

.footer li img {
  padding-right: 10px;
}

hr {
  border-top: 1px solid var(--very-pale-blue);
}

.price-2 {
  display: none;
}

p.discount-2 {
  display: none;
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 12px;
  }

  header h1 {
    font-size: 1.3rem;
  }

  .price {
    display: none;
  }

  .price-2 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .packages {
    flex-direction: column;
  }

  p.discount {
    display: none;
  }

  p.discount-2 {
    display: inline-block;
  }

  .top-content,
  .footer {
    padding: 30px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer a {
    margin-top: 20px;
  }

}
